@import "/src/common/modern-reset.css";

body{
  font-family: SUIT, sans-serif;
}

.card{
  /* BFC - overflow:hidden, display:flow-root, float:left, position: absolute */
  /* display: flow-root; */
  /* background: pink; */
  margin: 2em; /*32px*/
  padding: 2em; /*32px*/
  border: 1px solid #aaa;
  border-radius: 0.5rem; /*8px*/

  &.good-partner{
    /* 엄마친구아들 포스터는 숨기기 */
    display: flow-root;
  }

  /* 제목 */
  .subject{
    /* background: skyblue; */
    font-size: 1.5rem; /*24px*/
    font-weight: 600;

    span{
      vertical-align: top;

      &[lang="en"]{
        font-size: 0.5em;
      }
    }
  }

  .thumbnail{
    --radius: 50%;

    border: 1px solid #ccc;
    float: left;
    margin: 1em;
    padding: 0.625em;
    border-radius: var(--radius);
    width: 120px;
    height: auto;
    shape-outside: circle(50%);
    
    img{
      max-width: 100%;
      aspect-ratio: 1/1;
      border-radius: var(--radius);
      object-fit: cover;
      object-position: 0 -20px;
    }
  }

  .content{
    margin-top: 0.625rem;
  }
}