@layer like, module, state;

@layer state {
  p.alert { background-color: purple; }
  p { border: medium solid limegreen; padding: 2em; }
}

@layer module {
  .alert {
    border: medium solid violet; color: white;
  }
  p{ padding: 1em; }
  p.alert{ background: red; }
}

@layer like{
  p.alert{
    background: skyblue;
  }
}

@layer{
  p.alert { background: blue; }
}

p.alert{ background: gray; }