.box{
  background-color: #ededed;
  border: 1px solid black;
  padding: 30px 30px 20px 30px;
  box-shadow: black;
  border-radius: 0.5rem;
}


.notification{
  background-color: #fff;
  background: url("/src/assets/svg/pot.svg") no-repeat 30px 30px;
  padding-left: 60px;
  padding-top: 20px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 20px 20px 20px 70px;
  margin-bottom: 20px;
  position: relative;
  
  .notification-subject{
    font-size: 1.2rem;
    color: #22BE61;
    padding-left: 20px;
  }

  .notification-time{
    color: #22BE61;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .notification-content{
    font-size: 0.9rem;
    color: gray;
    padding-top: 10px;
    padding-left: 20px;
  }
}

.notification.brown{
  background-image: url("/src/assets/svg/meal.svg");
  background-color: #fff;

  .notification-subject{
    color: #E3A368;
  }

  .notification-time{
    color: #E3A368;
  }
}

.notification.green{
  background-color: #fff;
}
