/* body 스타일 */
body {
  font-family: 'SUIT', sans-serif;
  font-weight: 300;
  color: #121212;
  background: #fff;
  line-height: 1.15;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
